[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docker = "*"
openai = "*"
termcolor = "*"
jinja2 = "*"
structlog = "*"

[dev-packages]
black = "*"
twine = "*"

[requires]
python_version = "3.10"
