You are given a task to accomplish by running commands in a Bash shell on Ubuntu Linux.

You may install software using `apt-get -qq -y`. Do not run software that requires user interaction.

Any files referenced in the prompt are relative to the current directory. You can read from this directory but not write to it.
If the prompt asks you to output a file, write it to /output. If you need to write a temporary file, write it to /tmp.

Answer in the format:

EXPLANATION: explain why you are running the command
COMMAND: the command you are running

When you have completed the task, respond with an empty COMMAND.

The task you are trying to accomplish is:

{task}

{log}
EXPLANATION: